/*------------------------------------------------------
このCSSには実績（Works）の共通スタイルを記述します。
--------------------------------------------------------
1. 共通のスタイル (typography, links, Lsits, images , Helper classes, sections)
2. トップページ
3. 実績詳細
4. フッター
------------------------------------------------------*/
/*----------------------------------------
0. Bootstrap 上書き
----------------------------------------*/
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
/*----------------------------------------
1. 共通のスタイル
----------------------------------------*/

html,
body {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.1rem;
  background-color: #fafafa;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #333;
  font-family: "Futura", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin-bottom: 0;
}
b,
strong {
  font-weight: 700;
}
section {
  position: relative;
  display: block;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
/* セクションタイトル */
h2.section-title {
  text-align: center;
  padding: 10%;
  font-weight: bold;
}
/* フレックスボックス */
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color-pink {
  color: #a7677f;
}
/*----------------------------------------
1.5.ロード画面
----------------------------------------*/
/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #a7677f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.sk-folding-cube {
  margin: auto;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/* ローディングAnimation */
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/*----------------------------------------
2. トップページ
----------------------------------------*/
/* ロゴ */
.logo-box {
  width: auto;
  height: auto;
  margin: 3rem 3.5rem;
  position: fixed;
  z-index: 2;
}
img.site-logo {
  width: 60px;
  height: 65px;
}
/* picture */
img.mockup-mworks {
  width: 100%;
  height: 80vh;
  opacity: 1;
  object-fit: cover;
  object-position: 60%;
}
/*----------------------------------------
3. 実績詳細
----------------------------------------*/
section.works-detail {
  margin-bottom: 100px;
}
/* タイトル */
h2.works-detail-title {
  text-align: center;
  padding: 40px 0;
  font-size: 2.8rem;
}

/* 実績詳細 */
.text-wrapper,
.skill-wrapper {
  width: 80%;
  height: auto;
  margin-bottom: 30px;
}
.text-detal-box {
  width: auto;
  height: auto;
}
h3.detail-title {
  padding-bottom: 30px;
  font-size: 1.4rem;
  font-weight: bold;
}
p.detail-text {
  padding-bottom: 5%;
  font-size: 1.2rem;
}

/* スキル詳細 */
.skill-icon-container {
  width: 100%;
  height: auto;
  justify-content: space-around;
}
.skill-detail-card {
  width: 45%;
  height: 180px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.skill-icon-box {
  color: #547a82;
  height: 80px;
  width: 80px;
  background: #fafafa;
  display: block;
  border-radius: 50px;
  line-height: 80px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  margin: 20px auto;
}

.skill-name {
  width: 100%;
  height: 58px;
  background-color: #333;
}
.skill-name h4 {
  color: #fafafa;
  line-height: 58px;
  font-size: 1.6rem;
}
/*--------------------------------------
4.　フッター
----------------------------------------*/
.works-footer {
  text-align: center;
  background-color: #333;
  color: #fafafa;
}
.sns-icon-box {
  list-style: none;
  padding: 0;
  margin: 30px 0 20px;
}
.sns-icon-box li {
  display: inline-block;
}
.sns-icon-box a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 37px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  font-size: 14px;
  color: #fafafa;
  margin: 10px;
}
p.copyright {
  text-align: center;
}
/*----------------------------------------
タブレットメディアクリ
----------------------------------------*/
@media screen and (min-width: 426px) {
}
/*----------------------------------------
PCメディアクリ
----------------------------------------*/
@media screen and (min-width: 769px) {
  /*----------------------------------------
3. 実績詳細
----------------------------------------*/
  /* タイトル */
  h2.works-detail-title {
    font-size: 4.8rem;
    padding: 70px 0;
  }
  h3.detail-title {
    font-size: 1.8rem;
  }
  p.detail-text {
    font-size: 1.4rem;
  }
  /* 実績詳細 */

  .text-wrapper,
  .skill-wrapper {
    width: 40%;
    height: auto;
    margin: 0;
  }

  /* スキル詳細 */
  .skill-detail-card {
    margin: 20px;
  }
}
